//
// Component: Drop
//
// ========================================================================


// Variables
// ========================================================================

@drop-z-index:                              @global-z-index + 20;
@drop-width:                                300px;
@drop-margin:                               @global-margin;


// Miscellaneous
// ========================================================================

.hook-drop-misc() {}