//
// Component: Heading
//
// ========================================================================


// Variables
// ========================================================================

@heading-small-font-size:                       @heading-small-font-size-m * 0.8;      // 38px 0.73
@heading-medium-font-size:                      @heading-medium-font-size-m * 0.825;     // 40px 0.714
@heading-large-font-size:                       @heading-large-font-size-m * 0.85;      // 50px 0.78
@heading-xlarge-font-size:                      @heading-large-font-size-m;             // 4rem / 64px
@heading-2xlarge-font-size:                     @heading-xlarge-font-size-m;            // 6rem / 96px

@heading-small-font-size-m:                     @heading-medium-font-size-l * 0.8125;   // 3.25rem / 52px
@heading-medium-font-size-m:                    @heading-medium-font-size-l * 0.875;    // 3.5rem / 56px 
@heading-large-font-size-m:                     @heading-medium-font-size-l;            // 4rem / 64px
@heading-xlarge-font-size-m:                    @heading-large-font-size-l;             // 6rem / 96px
@heading-2xlarge-font-size-m:                   @heading-xlarge-font-size-l;            // 8rem / 128px

@heading-medium-font-size-l:                    4rem;                                   // 64px
@heading-large-font-size-l:                     6rem;                                   // 96px
@heading-xlarge-font-size-l:                    8rem;                                   // 128px
@heading-2xlarge-font-size-l:                   11rem;                                  // 176px

@heading-small-line-height:                     1.2;
@heading-medium-line-height:                    1.1;
@heading-large-line-height:                     1.1;
@heading-xlarge-line-height:                    1;
@heading-2xlarge-line-height:                   1;

@heading-divider-padding-bottom:                ~'calc(10px + 0.1em)';
@heading-divider-border-width:                  ~'calc(0.2px + 0.05em)';
@heading-divider-border:                        @global-border;

@heading-bullet-top:                            ~'calc(-0.1 * 1em)';
@heading-bullet-height:                         ~'calc(4px + 0.7em)';
@heading-bullet-margin-right:                   ~'calc(5px + 0.2em)';
@heading-bullet-border-width:                   ~'calc(5px + 0.1em)';
@heading-bullet-border:                         @global-border;

@heading-line-top:                              50%;
@heading-line-height:                           @heading-line-border-width;
@heading-line-width:                            2000px;
@heading-line-border-width:                     ~'calc(0.2px + 0.05em)';
@heading-line-border:                           @global-border;
@heading-line-margin-horizontal:                ~'calc(5px + 0.3em)';


// Component
// ========================================================================

.hook-heading-small() {}

.hook-heading-medium() {}

.hook-heading-large() {}

.hook-heading-xlarge() {}

.hook-heading-2xlarge() {}


// Divider
// ========================================================================

.hook-heading-divider() {}


// Bullet
// ========================================================================

.hook-heading-bullet() {}


// Line
// ========================================================================

.hook-heading-line() {}



// Miscellaneous
// ========================================================================

.hook-heading-misc() {}


// Inverse
// ========================================================================

@inverse-heading-divider-border:                  @inverse-global-border;
@inverse-heading-bullet-border:                   @inverse-global-border;
@inverse-heading-line-border:                     @inverse-global-border;

.hook-inverse-heading-small() {}

.hook-inverse-heading-medium() {}

.hook-inverse-heading-large() {}

.hook-inverse-heading-xlarge() {}

.hook-inverse-heading-2xlarge() {}

.hook-inverse-heading-divider() {}

.hook-inverse-heading-bullet() {}

.hook-inverse-heading-line() {}
